In [80]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure , show , output_file
from bokeh.models.annotations import Title

start=datetime.datetime(2016,3,1)
end=datetime.datetime(2016,3,10)
data.DataReader(name="AAPL",data_source="yahoo",start=start,end=end)

df5 = data.DataReader(name="AAPL",data_source="yahoo",start=start,end=end)

df1 = data.DataReader(name="CSCO",data_source="yahoo",start=start,end=end)

df = data.DataReader(name="GOOG",data_source="yahoo",start=start,end=end)

In [81]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-02-29,710.890015,697.679993,700.320007,697.770020,2481100,697.770020
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998
2016-03-02,720.000000,712.000000,719.000000,718.849976,1629000,718.849976
2016-03-03,719.450012,706.020020,718.679993,712.419983,1956800,712.419983
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990
2016-03-10,716.440002,703.359985,708.119995,712.820007,2829400,712.820007

In [82]:
df.index

DatetimeIndex(['2016-02-29', '2016-03-01', '2016-03-02', '2016-03-03',
               '2016-03-04', '2016-03-07', '2016-03-08', '2016-03-09',
               '2016-03-10'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [83]:
df.index[df.Close > df.Open]

DatetimeIndex(['2016-03-01', '2016-03-08', '2016-03-09', '2016-03-10'], dtype='datetime64[ns]', name='Date', freq=None)

In [84]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-02-29,710.890015,697.679993,700.320007,697.770020,2481100,697.770020
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998
2016-03-02,720.000000,712.000000,719.000000,718.849976,1629000,718.849976
2016-03-03,719.450012,706.020020,718.679993,712.419983,1956800,712.419983
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990
2016-03-10,716.440002,703.359985,708.119995,712.820007,2829400,712.820007

In [104]:
def inc_dec(c,o):
    if c > o :
        value = "Increase"
    elif c < o :
        value = "Decrease"
    else:
        value = "Equal"
    return value

df["Status"] = [inc_dec(c,o) for c,o in zip(df.Close,df.Open)]

In [105]:
df

,High,Low,Open,Close,Volume,Adj Close,Status
Date,,,,,,,
2016-02-29,710.890015,697.679993,700.320007,697.770020,2481100,697.770020,Decrease
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998,Increase
2016-03-02,720.000000,712.000000,719.000000,718.849976,1629000,718.849976,Decrease
2016-03-03,719.450012,706.020020,718.679993,712.419983,1956800,712.419983,Decrease
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015,Decrease
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973,Decrease
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971,Increase
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990,Increase
2016-03-10,716.440002,703.359985,708.119995,712.820007,2829400,712.820007,Increase

In [85]:
p = figure(x_axis_type="datetime",width=1000,height=300)

In [88]:
p.title.text ="Candlestick Chart"

In [92]:
hours_12 = 12*60*60*1000 
p.rect(df.index[df.Close > df.Open],
       (df.Open+df.Close)/2,hours_12,abs(df.Open - df.Close),
       fill_color="green",line_color="black")

output_file("CS.html")

show(p)

/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 4), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))
/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 9), ('x', 4), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [98]:
data_increase = df.index[df.Close > df.Open]
data_decrease = df.index[df.Close < df.Open]

In [99]:
data_increase

DatetimeIndex(['2016-03-01', '2016-03-08', '2016-03-09', '2016-03-10'], dtype='datetime64[ns]', name='Date', freq=None)

In [100]:
data_decrease

DatetimeIndex(['2016-02-29', '2016-03-02', '2016-03-03', '2016-03-04',
               '2016-03-07'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [101]:
type(data_increase)

pandas.core.indexes.datetimes.DatetimeIndex

In [102]:
type(data_decrease)

pandas.core.indexes.datetimes.DatetimeIndex

In [97]:
hours_12 = 12*60*60*1000 

p.rect(data_increase,
       (df.Open+df.Close)/2,hours_12,abs(df.Open - df.Close),
       fill_color="green",line_color="black")

p.rect(data_decrease,
       (df.Open+df.Close)/2,hours_12,abs(df.Open - df.Close),
       fill_color="red",line_color="black")

output_file("CS.html")

show(p)

/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 4), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))
/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 9), ('x', 4), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))
/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 5), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))
/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 9), ('x', 5), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [109]:
hours_12 = 12*60*60*1000 

p.rect(df.index[df.Status == "Increase"],
       (df.Open+df.Close)/2,hours_12,abs(df.Open - df.Close),
       fill_color="green",line_color="black")

p.rect(df.index[df.Status == "Decrease"],
       (df.Open+df.Close)/2,hours_12,abs(df.Open - df.Close),
       fill_color="red",line_color="black")

output_file("CS.html")

show(p)

/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 4), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))
/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 9), ('x', 4), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))
/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 5), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))
/anaconda3/lib/python3.6/site-packages/bokeh/models/sources.py:110: BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 9), ('x', 5), ('y', 9)
  "Current lengths: %s" % ", ".join(sorted(str((k, len(v))) for k, v in data.items())), BokehUserWarning))

In [118]:
df["Middle"] = (df.Close + df.Open)/2
df["Height"] = abs(df.Close - df.Open)

In [120]:
df

,High,Low,Open,Close,Volume,Adj Close,Status,Middle,Height
Date,,,,,,,,,
2016-02-29,710.890015,697.679993,700.320007,697.770020,2481100,697.770020,Decrease,699.045013,2.549988
2016-03-01,718.809998,699.770020,703.619995,718.809998,2151400,718.809998,Increase,711.214996,15.190002
2016-03-02,720.000000,712.000000,719.000000,718.849976,1629000,718.849976,Decrease,718.924988,0.150024
2016-03-03,719.450012,706.020020,718.679993,712.419983,1956800,712.419983,Decrease,715.549988,6.260010
2016-03-04,716.489990,706.020020,714.989990,710.890015,1972100,710.890015,Decrease,712.940002,4.099976
2016-03-07,708.091003,686.900024,706.900024,695.159973,2985100,695.159973,Decrease,701.029999,11.740051
2016-03-08,703.789978,685.340027,688.590027,693.969971,2076300,693.969971,Increase,691.279999,5.379944
2016-03-09,705.679993,694.000000,698.469971,705.239990,1421500,705.239990,Increase,701.854980,6.770020
2016-03-10,716.440002,703.359985,708.119995,712.820007,2829400,712.820007,Increase,710.470001,4.700012

In [123]:
hours_12 = 12*60*60*1000 

p.rect(df.index[df.Status == "Increase"],
       df.Middle[df.Status == "Increase"],hours_12,df.Height[df.Status == "Increase"],
       fill_color="green",line_color="black")

p.rect(df.index[df.Status == "Decrease"],
       df.Middle[df.Status == "Decrease"],hours_12,df.Height[df.Status == "Decrease"],
       fill_color="red",line_color="black")

output_file("CS.html")

show(p)